@charset "utf-8";

@media (min-width: 1200px) {
    #wrap {width: 100%;}

    /********************** HEADER STARTS ***********************/
    header {width: 100%; position: fixed; top: 0; z-index: 20;}
    #header_small {display: none;}
    /********************** NAV_UPPER STARTS ***********************/
    #nav_upper {width: 100%; display: flex; justify-content: flex-end; background-color: white;}
    #nav_upper_inner {width: 1250px; min-width: 900px; height: 42px; display: flex; flex-flow: row nowrap; justify-content: flex-end; align-items: center; font-size: 15px; font-weight: 600; margin: 0 auto;}
    #nav_upper_inner > div {margin: 0 10px;}
    #nav_upper_inner .nav_info img {width: 16px; vertical-align: middle;}
    .nav_search {background-color: rgba(230, 230, 230, 1); border-radius: 5px; padding: 3px 5px;}
    .nav_search img {width: 17px; transform:rotateY(180deg); vertical-align: middle;}
    .nav_search input {border: none; background-color: transparent; font-size: 14px;}
    .nav_info a {opacity: 0.6}
    .nav_info a:hover {opacity: 1;}
    .nav_book a {height: 30px; line-height: 30px; padding: 0 13px; border-radius: 8px; background-color: yellowgreen; font-weight: 600; color: white; display: inline-block; }
    .nav_book:hover a {cursor: pointer; background-color: transparent; border: 1px solid yellowgreen; color: yellowgreen;}


    /********************** NAV_LOWER STARTS ***********************/
    /*NAV_LOWER_SCROLL_TOP*/
    #nav_lower {width: 100%; height: 72px; background-image:linear-gradient(rgba(0, 0, 0, 0.5), transparent);}
    #nav_lower #nav_lower_inner {width: 1250px; height: 72px; display: flex; justify-content: flex-end; align-items: center; margin: 0 auto; position: relative;}
    #nav_lower #nav_lower_none {display: none;}
    #nav_lower #nav_logo {width: 120px; height: 100px; position: absolute; top: -10px; left: 0; z-index: 20;}
    #nav_lower nav {width: 88%; height: 50px;}
    #nav_lower nav ul {height: 50px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;}
    #nav_lower nav ul li a {font-size: 15px; font-weight: bold; color: white; letter-spacing: 0.008em; padding: 0 3px; display: inline-block; height: 50px; line-height: 50px;}
    #nav_lower .nav_menu:hover {color: gold;}

    /*NAV_LOWER_SCROLLED*/
    #nav_lower_scroll {width: 100%; height: 72px; background-color: rgba(240, 240, 240, 1);}
    #nav_lower_scroll #nav_lower_inner {width: 1250px; height: 72px; display: flex; justify-content: flex-end; align-items: center; margin: 0 auto; position: relative;}
    #nav_lower_scroll #nav_lower_none {display: none;}
    #nav_lower_scroll #nav_logo {width: 120px; height: 100px; position: absolute; top: -10px; left: 0; z-index: 20;}
    #nav_lower_scroll nav {width: 88%; height: 50px;}
    #nav_lower_scroll nav ul {height: 50px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;}
    #nav_lower_scroll nav ul li a {font-size: 15px; font-weight: bold; color: black; letter-spacing: 0.008em; padding: 0 3px; display: inline-block; height: 50px; line-height: 50px;}
    #nav_lower_scroll .nav_menu:hover {color: gold;}


    /********************** FOOTER STARTS ***********************/
    footer {width: 100%; background-color: #2e2b28; color: white;}
    #footer_upper {width: 100%; padding: 50px 0; margin: 0 auto;background-color: #3f3a36;}
    #footer_upper_inner {width: 1140px; margin: 0 auto; display:flex; flex-wrap: wrap;justify-content: center; background-color: #3f3a36;}

    #footer_upper_link {width: 570px; display: flex; flex-flow: row wrap; justify-content: space-between; }
    .footer_upper_list {width: 33%;}
    .footer_upper_list h5 {font-size: 17px; margin: 0 0 17px; }
    .footer_upper_list a {color: white; height: 25px; display: inline-block;}
    .footer_upper_list a:hover {color: black;}


    #footer_upper_logo {width: 570px; display: flex;}
    .footer_logo {width: 33%; padding: 0 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;}
    .footer_logo img {width: 100%;}
    .footer_logo a:hover img {filter: invert(0.5);}
    .footer_logo p {color: white; margin: 15px 0 0; text-align: center; font-size: 14px;}



    .footer_upper_sns {width: 1140px; z-index: 3; margin: 30px auto 0;}
    .footer_upper_sns a {width: 37px; height: 37px; background-color: yellowgreen; border-radius: 50%; display: inline-flex; justify-content: center; align-items: center; margin: 0 5px 0;}
    .footer_upper_sns a img {width: 21px; vertical-align: middle; filter:invert(2); transition: all 0.3s;}
    .footer_upper_sns a:hover > img { filter: none;}


    #footer_lower {width: 1140px; height: 50px; text-align: center;font-size: 14px; line-height: 50px; margin: 0 auto;}
}
