@import url(./style_setting.css);
main {
  width: 100%;
}

.trend {
  position: relative;
}

.trend .trend_slider_window {
  width: 100%;
  aspect-ratio: 2;
  overflow: hidden;
  background-color: lightcyan;
}

.trend .trend_slider_window .trend_slider_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.trend .trend_slider_window .trend_slider_wrap li {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.trend .trend_slider_window .trend_slider_wrap li .trend_slider_img {
  width: 100%;
  height: 100%;
}

.trend .trend_slider_window .trend_slider_wrap li .trend_slider_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.trend .trend_slider_window .trend_slider_wrap li .trend_slider_text {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  background-color: rgba(196, 186, 186, 0.623);
}

.trend .trend_slider_window .trend_slider_wrap li .trend_slider_text .trend_slider_text_btn {
  text-align: right;
}

.trend .trend_slider_window .trend_slider_wrap li .trend_slider_text .trend_slider_text_btn button {
  width: 30%;
  aspect-ratio: 2;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
}

.trend .trend_slider_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 10;
}

.trend .trend_slider_btns .trend_slider_btn {
  width: 50px;
  height: 50px;
  z-index: 10;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 6px gray;
          box-shadow: 0 0 6px gray;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trend .trend_slider_btns .trend_slider_btn img {
  width: 50%;
}

.trend .trend_slider_btns .left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.trend .trend_slider_btns .left img {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.trend .trend_slider_btns .right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.trend .trend_slider_btns .right img {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.trend .trend_slider_dots ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.trend .trend_slider_dots ul li {
  width: 1%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0 5px;
  background-color: lightgray;
}

.trend .trend_slider_dots ul li.selected {
  background-color: darkorange;
}

.best_photo .best_photo_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.best_photo .best_photo_content .best_photo_left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 5%;
}

.best_photo .best_photo_content .best_photo_left .best_photo_small {
  width: 47%;
  margin-bottom: 5%;
}

.best_photo .best_photo_content .best_photo_left .best_photo_small:nth-of-type(3) {
  margin-bottom: 0;
}

.best_photo .best_photo_content .best_photo_left .best_photo_small:nth-of-type(4) {
  margin-bottom: 0;
}

.best_photo .best_photo_content .best_photo_right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.best_photo .best_photo_content .best_photo_right .best_photo_big {
  width: 98%;
}

.recommend .recommend_content_wrap {
  width: 100%;
  position: relative;
  aspect-ratio: 2.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend .recommend_content_wrap .recommend_bg {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(https://jeunessetravel.com/wp-content/uploads/jeunesse-travel-video-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.recommend .recommend_content_wrap .recommend_list {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommend .recommend_content_wrap .recommend_list > li {
  width: 24%;
}

.recommend .recommend_content_wrap .recommend_list .recommend_theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5% 3%;
}

.recommend .recommend_content_wrap .recommend_list .recommend_theme h2 {
  width: 80%;
  color: white;
  text-shadow: 2px 2px 15px black;
}

.recommend .recommend_content_wrap .recommend_list .recommend_theme .recommend_theme_list {
  width: 80%;
}

.recommend .recommend_content_wrap .recommend_list .recommend_theme .recommend_theme_list li {
  width: 80%;
  background-color: orange;
  text-align: center;
  padding: 1.5%;
  margin: 0 auto 5%;
  border-radius: 15px;
}

.recommend .recommend_content_wrap .recommend_list .recommend_content {
  background-color: lightblue;
}

.recommend .recommend_content_wrap .recommend_list .recommend_content img {
  width: 100%;
  aspect-ratio: 1.4;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.recommend .recommend_content_wrap .recommend_list .recommend_content .recommend_content_text p {
  margin-bottom: 3%;
}
/*# sourceMappingURL=index.css.map */